# you can skip adding langfuse api keys. refer to the readme on how to disable tracing with langfuse. 
LANGFUSE_SECRET_KEY="sk-lf-"
LANGFUSE_PUBLIC_KEY="pk-lf-"
LANGFUSE_HOST="https://cloud.langfuse.com"